[submodule "redmine/public/themes/railsgun"]
	path = redmine/public/themes/railsgun
	url = https://github.com/alminium/redmine_railsgun_theme
[submodule "redmine/public/themes/gitmike"]
	path = redmine/public/themes/gitmike
	url = https://github.com/makotokw/redmine-theme-gitmike
